---
layout: archive
title: "Earthquakes"
permalink: /Earthquakes/
author_profile: true
---

{% include base_path %}

{% for post in site.Earthquakes reversed %}
  {% include archive-single.html %}
{% endfor %}

<br/><img src='/images/earthquake.png'>


The location, magnitude, and distribution of surface displacement are essential to resolve many fundamental questions about earthquake physics. One of my research interests is to develop new methods for retrieving the displacement from decorrelated SAR images by considering reflective characteristics of ground targets. I have developed a series of new techniques that allowed for mapping high-resolution 3D coseismic displacement field, in particular, I extend the standard InSAR measurements from the far filed to as close as the rupture trace. In many cases, the missing near-filed data are the first time to be revealed (see the publication list). I’m also interested in improving current time-series InSAR method to better measure post- and inter-seismic deformation by incorporating with temporal-spatial geophysical models.
