---
layout: archive
title: "Earthquakes"
permalink: /Earthquakes/
author_profile: true
---

{% include base_path %}

{% for post in site.Earthquakes reversed %}
  {% include archive-single.html %}
{% endfor %}
Education
======
* B.S. Geographic Information System, Wuhan University, Wuhan, P. R. China, 9/1999 - 7/2003
* M.S. Photogrammetry and Remote Sensing, Wuhan University, Wuhan, P. R. China, 9/2003-7/2006
* Ph.D Information Technology, Politecnico di Milano, Milan, Italy, 1/2007 - 1/2010
* Ph.D Photogrammetry and Remote Sensing, Wuhan University, Wuhan, P. R. China, 9/2006-7/2010 
