---
layout: archive
title: "Landslides"
permalink: /Landslides/
author_profile: true
---

{% include base_path %}

{% for post in site.Landslides reversed %}
  {% include archive-single.html %}
{% endfor %}

From the mechanical point of view, landslide is an interesting subject for studying fundamental problems about the state- and rate-dependent friction of rocks, as the scale of landslide body stands between tectonic faults and laboratory rock samples. The surface displacement measured from time-series SAR images can help determine the boundary of the sliding body and to reveal the hydrological response time associated with precipitation. Given the 3D displacement map, we can also invert for the basal geometry and friction parameters of the landslide body. I have been contributing to multi landslide studies from slow earthflow (less than 20 cm/year) of Cascade landslide complex (Washington) to the fast moving (~2 cm/day) Slumgullion landslide (Colorado) and multi-meter flank sliding of the Pacaya Volcano in Guatemala.
