---
layout: archive
title: "Software"
permalink: /software/
author_profile: true
---

{% include base_path %}

{% for post in site.software reversed %}
  {% include archive-single.html %}
{% endfor %}

<h1 style="font-size:200%">Sentinel-1 Interferometric Processor</h1>
<p >Sentinel-1 Interferometric Processor (S1IP) is a data processing software for Sentinel-1 TOPS InSAR data developed by the image geodetic team of Peking University.</p>
<p >The software includes 4 subroutines.</p>
<img src="/images/softwarelogos.png" alt="software logos" width="250" height="60"><p></p>

<h2 style="font-size:120%">Click to download</h2>
<img src="/images/Full version logo.png" width="40" height="40"><a href="https://github.com/Wu-Patrick/MyDownload/raw/master/Sentinel-1Processor.zip" target="_blank">Full version</a>
<p>
<img src="/images/Trial version logo.png" width="40" height="40">Trial version<a href="mailto:wang.teng@pku.edu.cn" target="_blank">contact us</a>

<h2 style="font-size:120%">Manual</h2>
<img src="/images/manual logo.png" width="40" height="40"><a href="/files/manual.pdf" target="_blank">Chinese</a>
