---
layout: archive
title: "Urban and infrastructure"
permalink: /Urban and infrastructure/
author_profile: true
---

{% include base_path %}

{% for post in site.Urban and infrastructure reversed %}
  {% include archive-single.html %}
{% endfor %}

During the PhD study, my research focused on monitoring subsidence in urban areas and measuring the deformation of large man-made structures. For the first time, I obtained and analyzed the deformation of the Three Gorges Dam with 40 SAR images acquired from 2003 to 2008. We confirmed that the dam is stable in general during this period, the tiny deformation was influence by the changing levels of the Yangtze river. I’m interested in extending this study to monitor other structures such as oil fields, bridges and mining sites based on the large amount of SAR images from different satellites. 
