---
layout: archive
title: "Volcanos"
permalink: /Volcanos/
author_profile: true
---

{% include base_path %}

{% for post in site.Volcanos reversed %}
  {% include archive-single.html %}
{% endfor %}

SAR imagery has been widely used to study surface displacement induced by volcanic activities, however, it has been rarely applied to quantify the transient near-field displacement of graben and dome formations because of the limited coherence in the near field. Based on the advanced offset-tracking method I have developed, I revealed the first evidence of co-rifting obliquity along a divergent plate boundary during the 2014-15 Holuhraun fissure eruption at Bárðarbunga volcano, Iceland. I also quantified the dome formation during the 2011 eruption of the Mount Cleveland, Aleutian Volcanic Arc. The proposed feature detection and tracking method can be widely used in similar eruptive volcanoes, and also to quantify geodynamic phenomena with rapid changing surface, such as lava/glacier flow and landslides etc.
